/* Style guide definitions */
:root {
  --color-white: hsl(0, 0%, 100%);
  /* Desaturated Dark Cyan:  */
  --color-primary-400: hsl(180, 29%, 50%);
  /* Desaturated Dark Cyan:  */
  --color-accent-400: hsl(180, 29%, 50%);

  /* Light Grayish Cyan (Background) */
  --color-neutral-100: hsl(180, 52%, 96%);
  /* Light Grayish Cyan (Filter Tablets):  */
  --color-neutral-200: hsl(180, 31%, 95%);
  /*  */
  --color-neutral-300: hsl(140, 2%, 75%);
  /* Dark Grayish Cyan: */
  --color-neutral-500: hsl(180, 8%, 52%);
  /* Very Dark Grayish Cyan:  */
  --color-neutral-700: hsl(180, 14%, 20%);

  --font-family-primary: 'League Spartan', sans-serif;
  --font-family-body: var(--font-family-primary);
  --font-family-heading: var(--font-family-primary);

  --font-weight-regular: 500;
  --font-weight-bold: 700;

  --font-size-300: 0.875rem;
  --font-size-400: 0.9375rem;
  --font-size-500: 1rem;
  --font-size-600: 1.6rem;
  --font-size-700: 2.5rem;
  --font-size-800: 3.5rem;

  --font-size-header: var(--font-size-500);
  --font-size-body: var(--font-size-500);
  --font-size-footer: var(--font-size-500);
  --font-size-primary-heading: var(--font-size-400);
  --font-size-secondary-heading: var(--font-size-400);
  --font-size-button: var(--font-size-500);
  --font-size-tag: var(--font-size-500);
}

@media (min-width: 768px) {
  :root {
    --font-size-primary-heading: var(--font-size-500);
  }
}

/* 
 * https://piccalil.li/blog/a-modern-css-reset 
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  display: flex;
  flex-flow: column;
  font-family: var(--font-family-body);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* 
 * end of reset 
 */

/* Utility classes */
.text-white {
  color: var(--color-white);
}
.text-primary-400 {
  color: var(--color-primary-400);
}
.text-neutral-100 {
  color: var(--color-neutral-100);
}
.text-neutral-200 {
  color: var(--color-neutral-200);
}
.text-neutral-500 {
  color: var(--color-neutral-500);
}
.text-neutral-700 {
  color: var(--color-neutral-700);
}

.bg-white {
  background-color: var(--color-white);
}
.bg-primary-400 {
  background-color: var(--color-primary-400);
}
.bg-neutral-100 {
  background-color: var(--color-neutral-100);
}
.bg-neutral-200 {
  background-color: var(--color-neutral-200);
}
.bg-neutral-500 {
  background-color: var(--color-neutral-500);
}
.bg-neutral-700 {
  background-color: var(--color-neutral-700);
}

.fw-regular {
  font-weight: var(--font-weight-regular);
}
.fw-bold {
  font-weight: var(--font-weight-bold);
}

.fs-primary-heading {
  font-size: var(--font-size-primary-heading);
}
.fs-secondary-heading {
  font-size: var(--font-size-secondary-heading);
}
.fs-text {
  font-size: var(--font-size-300);
}
.fs-size-button {
  font-size: var(--font-size-button);
}
.fs-size-tag {
  font-size: var(--font-size-tag);
}

/* End utility classes */

.container {
  margin: auto;
  max-width: 1110px;
  padding-inline: 24px;
  position: relative;
}

/* Header */
.primary-header {
  background-image: url(./images/bg-header-mobile.svg);
  min-height: 156px;
}

.filter {
  display: grid;
  border-radius: 5px;
  position: relative;
  top: -36px;
  margin-bottom: -36px;
  grid-template-columns: 1fr auto;
  padding: 20px;
}
.filter-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.filter-tag {
  display: flex;
  border-radius: 5px;
  list-style: none;
  overflow: hidden;
  align-items: center;
}
.filter-tag p {
  margin: 8px;
  margin-right: 12px;
}
.remove {
  border: none;
  height: 32px;
  width: 32px;
  padding: 10px;
}
.clear {
  font-size: var(--font-size-500);
  /* display: none; */
  border: none;
  background: none;
}

/* Main */
main {
  flex-grow: 1;
}

/* Cards */
.card-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-block: 56px;
}

.card {
  align-items: center;
  border-left: 5px solid var(--color-white);
  border-radius: 5px;
  box-shadow: var(--color-primary-400) 0px 6px 14px -12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 6px;
  padding-inline: 18px;
  padding-top: 32px;
  position: relative;
}

.featured {
  border-left: 5px solid var(--color-accent-400);
}

.card-image {
  height: 48px;
  left: 18px;
  position: absolute;
  top: -24px;
  width: auto;
}

.card-content {
  border-bottom: 1px solid var(--color-neutral-300);
  flex-grow: 1;
}

.name {
  padding-right: 16px;
}

.badge {
  border-radius: 24px;
  display: inline-block;
  height: 24px;
  padding-block: 7px;
  padding-inline: 9px;
  text-transform: uppercase;
}

.new {
  margin-inline: 4px;
  padding: 7px;
}

.card-title {
  margin-block: 14px;
}

.card-content ul {
  display: flex;
  gap: 25px;
  margin-block: 18px;
}

li:first-child {
  list-style: none;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-block: 16px;
}
.tag {
  border-radius: 5px;
  display: inline-block;
  height: 32px;
  list-style: none;
  padding: 10px;
}

/* Footer */
footer {
  min-height: 50px;
  padding: 10px;
}

.attribution {
  text-align: center;
}

.attribution a:hover {
  color: var(--color-neutral-100);
}
