/* Home */
.hero {
  padding-inline: calc(7.5%);
  position: relative;
  width: 100%;
}

.hero__content {
  background-color: var(--bg-color-primary);
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 54px;
  height: 357px;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  width: 445px;
}

.hero__title {
  max-width: 396px;
}

/* About Me */
#about-me {
  padding-inline: calc(7.5%);
  width: 100%;
}

.about-me {
  display: flex;
  gap: 125px;
  justify-content: space-between;
  margin-top: 150px;
}

.about-me__img {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  width: 100%;
}
.about-me__img img {
  max-width: unset;
}

.about-me__description {
  align-items: flex-start;
  border: 1px solid var(--color-light-gray);
  border-inline: none;
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: center;
  max-width: 355px;
  padding-block: 48px;
}

.about-me__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Contact Me */
#contact-me {
  padding-inline: calc(7.5%);
  width: 100%;
}

.contact-me {
  align-items: center;
  display: flex;
  gap: 32px;
  margin-block: 150px;
}

.contact-me__title {
  max-width: 350px;
}

.separator {
  border-bottom: 1px solid #d9d9d9;
  flex-grow: 1;
}

/* Footer */
.footer {
  background-color: var(--bg-color-secondary);
  color: var(--txt-color-secondary);
  padding-inline: calc(7.5%);
  width: 100%;
}

.footer__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block: 32px;
}

.footer__navigation {
  align-items: center;
  display: flex;
  gap: 49px;
  margin: 24px;
}

.navigation ul {
  color: var(--txt-color-secondary);
  display: flex;
  gap: 41px;
}

.icons {
  align-items: center;
  display: flex;
  gap: 15px;
  margin-block: 24px;
}

/* Media Queries */
@media (max-width: 1024px) {
  .about-me {
    gap: 68px;
    margin-top: 96px;
  }

  .about-me__description {
    max-width: 340px;
  }
}

@media (max-width: 640px) {
  .hero__content {
    height: 258px;
    margin-top: 19px;
    position: relative;
    width: unset;
  }

  .about-me {
    flex-direction: column;
  }

  .about-me__description {
    max-width: unset;
  }

  .contact-me {
    flex-direction: column;
    margin-block: 96px;
  }
}

@media (max-width: 425px) {
  .about-me__img img {
    max-width: 100%;
  }
}
