:root {
  /* Primary */
  --color-primary: #33323d;
  --color-dark-blue: #203a4c;
  /* Neutral */
  --color-white: #fff;
  --color-light-gray: #e6e6e6;
  --color-gray: #97969c;
  /* Accent */
  --color-accent: #5fb4a2;
  --color-red: #f43030;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-300: 0.75rem; /*12*/
  --fs-350: 0.8125rem; /*13*/
  --fs-450: 0.9375rem; /*15*/
  --fs-500: 1rem; /*16*/
  --fs-600: 2rem; /*32*/
  --fs-650: 2.4375rem; /*39*/
  --fs-700: 3.0625rem; /*49*/

  --txt-color-primary: var(--color-primary);
  --txt-color-secondary: var(--color-white);
  --txt-color-accent-primary: var(--color-accent);

  --bg-color-primary: var(--color-white);
  --bg-color-secondary: var(--color-primary);
  --bg-color-accent-primary: var(--color-accent);
}

html {
  scroll-behavior: smooth;
}

body {
  align-items: center;
  background-color: var(--bg-color-primary);
  color: var(--txt-color-primary);
  font-family: 'Public Sans', sans-serif;
  font-size: var(--fs-500);
  font-weight: var(--fw-medium);
  line-height: 190%;
}

main {
  flex-grow: 1;
}

.logo {
  -webkit-mask-image: url('../images/logo.svg');
  -webkit-mask-size: cover;
  background: #fff;
  display: inline-block;
  height: 32px;
  mask-image: url('../images/logo.svg');
  mask-size: cover;
  width: 60px;
}

.icon {
  -webkit-mask-size: cover;
  background: #fff;
  display: inline-block;
  height: 24px;
  mask-size: cover;
  width: 24px;
}

.icon-dark {
  background-color: var(--bg-color-secondary);
}

.icon:hover {
  background-color: var(--bg-color-accent-primary);
}

.github {
  -webkit-mask-image: url('../images/icons/github.svg');
  cursor: pointer;
  mask-image: url('../images/icons/github.svg');
  width: 25px;
}
.twitter {
  -webkit-mask-image: url('../images/icons/twitter.svg');
  cursor: pointer;
  height: 19.5px;
  mask-image: url('../images/icons/twitter.svg');
  width: 24px;
}
.linkedin {
  -webkit-mask-image: url('../images/icons/linkedin.svg');
  cursor: pointer;
  mask-image: url('../images/icons/linkedin.svg');
}

.container {
  margin: auto;
  max-width: 1110px;
  position: relative;
  width: 100%;
}

.link:hover {
  color: var(--txt-color-accent-primary);
}

.heading {
  color: var(--txt-color-primary);
  font-family: 'Ibarra Real Nova', serif;
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  line-height: 102%;
  text-align: left;
}

.sub-heading {
  font-size: var(--fs-650);
  line-height: 110%;
}

.paragraph {
  color: var(--txt-color-primary);
  font-size: var(--fs-500);
  font-weight: var(--fw-medium);
  line-height: var(--fs-500) * 1.9;
}

.paragraph-sm {
  color: var(--txt-color-primary);
  font-size: var(--fs-350);
  font-weight: var(--fw-medium);
  line-height: var(--fs-350);
}

.txt-menu {
  color: var(--txt-color-primary);
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
  letter-spacing: 2.16px;
  text-transform: uppercase;
}

.btn {
  align-items: center;
  background: none;
  border: 1px solid var(--txt-color-primary);
  color: var(--txt-color-primary);
  display: flex;
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
  height: 48px;
  justify-content: center;
  min-width: 162px;
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
}
.btn:hover {
  background-color: var(--txt-color-primary);
  color: var(--txt-color-secondary);
  cursor: pointer;
}

.btn-primary {
  background: var(--color-dark-blue);
  color: var(--txt-color-secondary);
  position: relative;
}
.btn-primary:hover {
  background-color: var(--bg-color-accent-primary);
  border: 1px solid var(--bg-color-accent-primary);
}

.btn-about::after {
  content: 'About Me';
  flex-grow: 1;
  text-align: center;
  width: 152px;
}
.btn-about::before {
  background-color: rgb(0, 0, 0, 0.1);
  background-image: url(../images/icons/down-arrows.svg);
  background-position: center;
  background-repeat: no-repeat;
  content: '';
  height: 48px;
  width: 48px;
}

.btn-secondary {
  background-color: var(--txt-color-primary);
  border-color: var(--txt-color-primary);
  color: var(--color-dark-green);
}
.btn-secondary:hover {
  background-color: var(--bg-color-accent-secondary);
  border-color: var(--bg-color-accent-secondary);
}

.link {
  color: inherit;
  text-decoration: none;
}
.link:hover {
  color: var(--bg-color-accent-primary);
}

.hamburger {
  background: none;
  background-image: url('../images/icons/hamburger.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  display: none;
  height: 24px;
  transition: background-image 0.2s ease;
  width: 24px;
}

.header {
  padding-inline: calc(7.5%);
  width: 100%;
}

.header__container {
  align-items: flex-end;
  display: flex;
  height: 120px;
  justify-content: space-between;
  margin-bottom: 26px;
}

.header__list {
  display: flex;
  gap: 44px;
  justify-content: center;
  white-space: nowrap;
}

/* Footer */
.footer {
  background-color: var(--bg-color-secondary);
  color: var(--txt-color-secondary);
  padding-inline: calc(7.5%);
  width: 100%;
}

.footer__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer__navigation {
  align-items: center;
  display: flex;
  gap: 49px;
  margin: 24px;
}

.navigation ul {
  color: var(--txt-color-secondary);
  display: flex;
  gap: 41px;
}

.icons {
  align-items: center;
  display: flex;
  gap: 15px;
  margin-block: 24px;
}

/* Media Queries */

@media (max-width: 640px) {
  .heading {
    font-size: var(--fs-650);
  }

  .header__container {
    height: 106px;
  }

  .footer__container {
    flex-direction: column;
    padding-block: 32px;
  }
}

@media (max-width: 425px) {
  .header__container {
    height: auto;
    margin-block: 32.5px;
  }

  .menu {
    align-items: center;
    background-color: var(--bg-color-secondary);
    height: 0;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 122px;
    transition: width 0.5s ease, height 0.5s ease;
    width: 0;
    z-index: 10;
  }

  .hamburger:focus {
    background-image: url('../images/icons/close.svg');
  }

  .hamburger:focus ~ .menu {
    height: 198px;
    width: 226px;
  }

  .hamburger {
    display: block;
  }

  .header__list {
    color: var(--txt-color-secondary);
    flex-direction: column;
    gap: 28px;
    height: 100%;
  }

  .footer__navigation {
    flex-direction: column;
  }

  .navigation ul {
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }
}
