:root {
  /* Primary */
  --color-cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);
  --color-lizard-gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --color-paper-gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --color-rock-gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --color-scissors-gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  /* Neutral */
  --color-dark-text: hsl(229, 25%, 31%);
  --color-header-outline: hsl(217, 16%, 45%);
  --color-score-text: hsl(229, 64%, 46%);
  /* Background */
  --color-radial-gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
  --color-white: hsl(0, 0%, 98%);
  --color-light-gray: hsl(0, 0%, 90%);

  --font-weight-regular: 600;
  --font-weight-bold: 700;

  --font-size-200: 0.65rem;
  --font-size-300: 0.7rem;
  --font-size-400: 0.8rem;
  --font-size-500: 1rem;
  --font-size-700: 2rem;
  --font-size-800: 2.5rem;
}

body {
  background-image: radial-gradient(
    circle farthest-corner at 50% 0%,
    var(--color-radial-gradient)
  );
  background-image: radial-gradient(
    circle 125vh at 50% 0,
    var(--color-radial-gradient)
  );
  color: var(--color-dark-text);
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-align: center;
  width: 100%;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  margin: auto;
  padding-inline: 32px;
  width: 100%;
}

footer {
  color: var(--color-dark-text);
  padding-block: 24px;
}

.text {
  font-weight: var(--font-weight-bold);
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Header */
.header {
  align-items: center;
  border-radius: 5px;
  border: 2px solid var(--color-header-outline);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 30px;
}
.header img {
  height: 47px;
  width: auto;
}

.score {
  background-color: var(--color-white);
  border-radius: 4px;
  margin: 10px;
  min-height: 72px;
  min-width: 80px;
}
.score-title {
  color: var(--color-score-text);
  font-size: var(--font-size-200);
  margin-bottom: -5px;
  margin-top: 10px;
}

.score-number {
  font-size: var(--font-size-800);
  font-weight: var(--font-weight-bold);
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

/* Hide default HTML checkbox */
.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

/* The slider */
.slider {
  -webkit-transition: 0.4s;
  background-color: transparent;
  border: 1px solid var(--color-header-outline);
  border-radius: 34px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  -webkit-transition: 0.4s;
  background-color: white;
  border-radius: 50%;
  bottom: 3px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--color-white);
}
input:checked + .slider::before {
  background-color: var(--color-header-outline);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Main */
.choices {
  align-items: center;
  background-image: url('./images/bg-triangle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 210px;
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-height: 300px;
  max-width: 312px;
  width: 100%;
}

.choice {
  -moz-box-shadow: 0px -5px 0px 0px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0px -5px 0px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -5px 0px 0px rgba(0, 0, 0, 0.2) inset;
  align-items: center;
  border-radius: 100%;
  border: none;
  display: flex;
  height: 132px;
  justify-content: center;
  position: relative;
  width: 129px;
}

.choice::before {
  -moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.15) inset;
  background-color: var(--color-light-gray);
  border-radius: 100%;
  content: '';
  display: block;
  height: 100px;
  width: 100px;
}

.choice::after {
  background-position: center;
  background-repeat: no-repeat;
  content: '';
  height: 59px;
  position: absolute;
  width: 49px;
}

.paper {
  background-image: linear-gradient(to top, var(--color-paper-gradient));
}
.paper::after {
  background-image: url('./images/icon-paper.svg');
}

.scissors {
  background-image: linear-gradient(to top, var(--color-scissors-gradient));
  justify-self: end;
}
.scissors::after {
  background-image: url('./images/icon-scissors.svg');
}

.rock {
  background-image: linear-gradient(to top, var(--color-rock-gradient));
  grid-column: 1 / 3;
  margin-inline: auto;
}
.rock::after {
  background-image: url('./images/icon-rock.svg');
}

.control {
  display: flex;
  gap: 12px;
}

.control button {
  background: none;
  border-radius: 10px;
  border: 2px solid var(--color-header-outline);
  color: var(--color-white);
  height: 38px;
  width: 126px;
}

.reset-button {
  display: none;
}

/* Rules modal */
.rules-modal {
  align-items: center;
  background-color: var(--color-white);
  bottom: -100vh;
  display: flex;
  flex-direction: column;
  height: 0;
  justify-content: space-around;
  left: 0;
  overflow: hidden;
  position: absolute;
  transition: bottom ease-in 0.5s, height ease-in 0.5s;
  width: 100%;
}

.rules-modal h1 {
  color: var(--color-dark-text);
  text-transform: uppercase;
}

.rules-modal .close-modal {
  background: none;
  background-image: url('./images/icon-close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  border: none;
  height: 20px;
  width: 20px;
}

.display-modal {
  bottom: 0;
  height: 100%;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
