.header {
  margin-top: 72px;
}
.header__nav {
  grid-column: span 6;
  display: flex;
  gap: 80px;
}
.header__list {
  list-style: none;
  gap: 40px;
  display: flex;
}
.header__btn {
  grid-column: span 6;
  justify-self: flex-end;
}

.hero {
  display: flex;
  width: 100%;
  padding-bottom: 250px;
  background-image: url(../images/bg-pattern-home-1.svg),
    url(../images/bg-pattern-home-2.svg);
  background-position: -100px, right 160px bottom;
  background-repeat: no-repeat;
  flex-direction: column;
}
.hero__title {
  margin-top: 125px;
  grid-column: span 6;
}
.hero__title span {
  color: var(--txt-color-accent-primary);
}
.hero__text {
  grid-column: 8 / span 5;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-right: 20px;
}
.hero__text__decoration {
  height: 4px;
  width: 50px;
  background-color: var(--bg-color-accent-secondary);
}

.features {
  align-items: center;
  background-color: var(--bg-color-secondary);
  background-image: url(../images/bg-pattern-home-3.svg);
  background-position: right -100px bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-bottom: 140px;
  padding-top: 198px;
  width: 100%;
}
.features__title {
  align-self: flex-start;
  grid-column: span 5;
  position: relative;
}
.features__title__decoration {
  background-color: var(--bg-color-accent-primary);
  height: 4px;
  position: absolute;
  top: -54px;
  width: 50px;
}
.features__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-column: 7 / span 6;
  list-style: none;
}
.features__list h3 {
  color: var(--txt-color-accent-primary);
}
.features__list__item {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}
.features__list__item__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
