:root {
  --Soft-Blue: hsl(231, 69%, 60%);
  --Soft_Red: hsl(0, 94%, 66%);
  --Grayish_Blue: hsl(229, 8%, 60%);
  --Very_Dark_Blue: hsl(229, 31%, 21%);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Rubik', sans-serif;
  color: var(--Very_Dark_Blue);
  font-size: 18px;
  margin: 0;
  max-width: 1440px;
  overflow-x: hidden;
  text-align: center;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 40px 32px;
}

a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

ul,
li,
hr {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
}

/* generics */
.button {
  background-color: var(--Soft-Blue);
  border: none;
  border-radius: 6px;
  color: white;
  height: 44px;
  width: 304px;
  font-weight: bold;
  font-size: 14px;
  padding: 0;
}
.subtitle {
  color: var(--Very_Dark_Blue);
  font-size: 24px;
  font-weight: 500;
}
.text {
  font-size: 15px;
  line-height: 25px;
  color: var(--Grayish_Blue);
}

.background-decoration {
  background-color: var(--Soft-Blue);
  height: 203px;
  position: absolute;
  width: 200px;
  z-index: -1;
  width: 110vw;

  border-radius: 203px;
}

main .background-decoration {
  right: -110px;
  top: 90px;
}

input[type='radio'] {
  position: absolute;
  opacity: 0;
}

/* Header */
.desktop-navbar {
  color: var(--Very_Dark_Blue);
  text-transform: uppercase;
  display: none;
  gap: 47px;
  align-items: center;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
}

.desktop-navbar-button {
  color: white;
  width: 111px;
  height: 40px;
  background-color: var(--Soft_Red);
  border-radius: 6px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  box-shadow: var(--Very_Dark_Blue) 0px 4px 16px -10px;
}

/* Hero */
.hero {
  padding-block: 35px;
  display: flex;
  flex-direction: column;
}
.hero img {
  margin-inline: auto;
  width: 350px;
  height: auto;
}
.hero-content {
  padding-block: 34px;
}
.hero-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 0;
}
.hero-text {
  padding-inline: 42px;
}
.hero-button-container {
  padding-block: 18px;
  display: flex;
  gap: 16px;
  justify-content: center;
}
.hero-button-container button {
  width: 151px;
  height: 48px;
}
.hero-button-container button:nth-child(2) {
  background-color: #f7f7f7;
  color: var(--Grayish_Blue);
  box-shadow: var(--Very_Dark_Blue) 0px 4px 16px -10px;
}

/* Features */
.features {
  position: relative;
  padding-top: 40px;
  font-size: 17px;
  padding-bottom: 120px;
}
.features .background-decoration {
  top: 520px;
  left: -104px;
}
.features-title {
  margin-bottom: 0;
}
.features-text {
  padding-inline: 24px;
  padding-bottom: 22px;
}

.tab-separator {
  margin-inline: auto;
  width: 83%;
  border: none;
  border-top: 1px solid #e0dfe5;
}
.tab {
  width: 40%;
  display: flex;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid transparent;
  color: var(--Grayish_Blue);
  padding-block: 16px;
  white-space: nowrap;
  text-align: center;
}

.features input[type='radio']:checked + label {
  border-bottom: 4px solid var(--Soft_Red);
  color: var(--Very_Dark_Blue);
}

.features input[value='simple']:checked ~ .simple,
.features input[value='speedy']:checked ~ .speedy,
.features input[value='easy']:checked ~ .easy {
  display: block;
}

.tab-card {
  display: none;
  margin-top: 74px;
}
.tab-card-title {
  margin-top: 76px;
  margin-bottom: 0;
}
.tab-card-text {
  padding-inline: 30px;
  margin-block: 13px;
}
.tab-card-image {
  margin-inline: auto;
  width: 83%;
  height: auto;
}
.tab-card button {
  display: none;
}

/* Download  */
.download {
  padding-bottom: 80px;
}
.download-title {
  margin-bottom: 0;
}
.download-text {
  margin-block: 13px;
  padding-inline: 30px;
}

.download-cards-list {
  padding-block: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
}

.download-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 24px;
  background-image: url('./images/bg-dots.svg');
  background-position: center bottom 96px;
  background-repeat: no-repeat;
  width: 280px;
  box-shadow: var(--Very_Dark_Blue) 0px 4px 16px -10px;
  /* box-shadow: var(--Very_Dark_Blue) 0px 13px 27px -5px; */
}
.download-card-title {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 32px;
  font-weight: 500;
}
.download-card-text {
  margin-top: 8px;
}
.download-card button {
  margin-top: 45px;
  flex-grow: 1;
  width: 232px;
  height: 48px;
}

/* FAQ */
.faq {
  padding-bottom: 120px;
}
.faq-title {
  padding-inline: 26px;
  margin-bottom: 0;
  line-height: 30px;
}
.faq-text {
  padding-inline: 26px;
}

/* Accordion */
.accordion-list {
  text-align: left;
  padding-top: 32px;
  padding-inline: 32px;
  padding-bottom: 42px;
}
.accordion-card {
  font-size: 15px;
  font-weight: 500;
  position: relative;
  border-bottom: 1px solid #dfdfdf;
}

.accordion-card label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
  margin-bottom: 20px;
}
.accordion-card label::after {
  content: '';
  width: 18px;
  height: 12px;
  background: var(--Soft-Blue);
  display: inline-block;
  margin-inline-start: 10px;
  mask-image: url(./images/icon-arrow.svg);
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-image: url(./images/icon-arrow.svg);
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
}

.accordion-card input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}
.accordion-card input[type='checkbox']:checked ~ p {
  height: auto;
  padding-top: 12px;
  padding-bottom: 28px;
}

.accordion-card input[type='checkbox']:checked ~ label::after {
  transform: rotate(180deg);
  background-color: var(--Soft_Red);
}

.accordion-text {
  color: var(--Grayish_Blue);
  line-height: 30px;
  margin: 0;
  overflow-y: hidden;
  height: 0;
}

.faq-button {
  width: 114px;
  height: 48px;
}

/* Contact  */
.contact {
  padding-top: 70px;
  padding-bottom: 28px;
  background-color: var(--Soft-Blue);
  color: white;
}
.contact-text {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.contact-title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  padding-inline: 24px;
}

.contact form {
  gap: 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
}
.input-wrapper {
  position: relative;
  width: fit-content;
  background-color: var(--Soft_Red);
  border-radius: 6px;
  margin: auto;
  overflow: hidden;
}
.email-warning-icon {
  display: none;
  position: absolute;
  background-image: url(./images/icon-error.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  right: 16px;
  top: 14px;
}
.email-warning {
  margin-block: 7px;
  letter-spacing: 1px;
  display: none;
  font-size: 9px;
  text-align: left;
  padding-inline: 13px;
  font-style: italic;
}
.contact input {
  height: 48px;
  width: 311px;
}
.contact input[type='email'] {
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box;
  border-radius: 6px;
  padding-inline: 20px;
  outline: none;
  border: none;
}
.contact input[type='email']::placeholder {
  color: #c3c3c3;
  font-weight: 500;
  font-size: 14px;
}
.contact input[type='submit'] {
  background-color: var(--Soft_Red);
  letter-spacing: 1px;
  color: #fafafa;
}

.contact input[type='email']:invalid {
  border: 2px solid var(--Soft_Red);
}

.contact input:invalid ~ .email-warning-icon {
  display: block;
}
.contact input:invalid ~ .email-warning {
  display: block;
}

/* footer */
footer {
  align-items: center;
  background-color: var(--Very_Dark_Blue);
  color: var(--Grayish_Blue);
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  position: relative;
}
.footer-logo {
  margin: 40px;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 34px;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
}

.footer-icons {
  padding-block: 50px;
  display: flex;
  gap: 40px;
  align-items: center;
}

/* atribution */
.attribution {
  bottom: 10px;
  font-size: 11px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}
.attribution a {
  color: white;
}
.attribution a:hover {
  color: var(--Soft_Red);
}
