:root {
  --Soft-Blue: hsl(231, 69%, 60%);
  --Soft_Red: hsl(0, 94%, 66%);
  --Grayish_Blue: hsl(229, 8%, 60%);
  --Very_Dark_Blue: hsl(229, 31%, 21%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  margin: 0;
  max-width: 1440px;
  overflow-x: hidden;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 40px 32px;
}

a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

ul,
li,
hr {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
}

/* generics */
.button {
  border: 1px solid var(--Grayish_Blue);
  height: 44px;
  width: 304px;
}

.background-decoration {
  background-color: var(--Soft-Blue);
  height: 200px;
  position: absolute;
  width: 200px;
  z-index: -1;
}

/* Header */
.desktop-navbar {
  color: var(--Very_Dark_Blue);
  text-transform: uppercase;
  display: none;
  gap: 47px;
  align-items: center;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
}

.desktop-navbar-button {
  color: white;
  width: 111px;
  height: 40px;
  background-color: var(--Soft_Red);
  border-radius: 6px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  box-shadow: var(--Very_Dark_Blue) 0px 4px 16px -10px;
}

/* footer */
footer {
  align-items: center;
  background-color: var(--Very_Dark_Blue);
  color: var(--Grayish_Blue);
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  position: relative;
}
.footer-logo {
  /* display: inline-block; */
  /* -webkit-mask-image: url('./images/logo-bookmark.svg');
  mask-image: url('./images/logo-bookmark.svg');
  background: #fff;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 148px;
  height: 25px; */
}

/* atribution */
.attribution {
  bottom: 10px;
  font-size: 11px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}
.attribution a {
  color: white;
}
.attribution a:hover {
  color: var(--Soft_Red);
}
