:root {
  /* Your browser (Samsung Internet) may not show this website correctly.  */
  color-scheme: light only;
  /* Primary */
  --Cyan: hsl(180, 66%, 49%);
  --Dark_Violet: hsl(257, 27%, 26%);
  /* Secondary */
  --Red: hsl(0, 87%, 67%);
  /* Neutral */
  --Gray: hsl(0, 0%, 75%);
  --Grayish_Violet: hsl(257, 7%, 63%);
  --Very_Dark_Blue: hsl(255, 11%, 22%);
  --Very_Dark_Violet: hsl(260, 8%, 14%);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

header {
  display: flex;
  height: 108px;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

nav {
  overflow: hidden;
  position: absolute;
  background-color: var(--Dark_Violet);
  border-radius: 10px;
  width: 0px;
  height: 0px;
  top: 65px;
  right: 30px;
  text-align: center;
  transition: width 0.5s ease, height 0.5s ease, top 0.5s ease, right 0.5s ease;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 38px 24px;
  font-weight: bold;
}

hr {
  border: 1px solid #544a6d;
}

nav a {
  height: 20px;
  color: white;
}

.logo {
  width: 121px;
  height: 33px;
}

.dark-background {
  background-color: var(--Dark_Violet) !important;
}

.button {
  font-weight: bold;
  color: white;
  border-radius: 50px;
  background-color: var(--Cyan);
  margin: auto;
  border: none;
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.button:active {
  transform: translateY(2px);
}

.started {
  width: 197px;
  height: 56px;
  letter-spacing: 0.5px;
}

.signup {
  display: block;
  width: 279px;
  height: 48px;
  padding: 10px;
}

.hamburger {
  all: initial;
}
.hamburger span {
  width: 24px;
  height: 3px;
  background-color: var(--Grayish_Violet);
  margin: 6px 0;
  display: block;
}
.hamburger:focus ~ nav {
  width: 86%;
  height: 383px;
  right: 7vw;
  top: 96px;
}

.hero {
  text-align: center;
}
.hero::before {
  display: block;
  content: '';
  height: 329px;
  background-image: url(./images/illustration-working.svg);
  background-position: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 500px 329px;
}
.hero-title {
  font-size: 40px;
  margin-top: 36px;
  line-height: 47px;
}
.hero-text {
  font-size: 18px;
  margin: 14px;
  line-height: 29px;
  color: var(--Grayish_Violet);
  padding: 0 2px;
}
.hero-button {
  margin: 17px;
}

/* FORM */
.short-it {
  margin-top: 150px;
  background-color: #f0f1f5;
}
.form {
  position: relative;
  width: 327px;
  margin: auto;
  margin-top: 70px;
  background-color: var(--Dark_Violet);
  background-image: url(./images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 10px;
  padding: 16px;
  top: -80px;
}
.input {
  padding: 0 16px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  font-size: 16px;
  width: 279px;
  height: 48px;
  border-radius: 5px;
  border: none;
  margin: 8px;
}
.email::placeholder {
  color: var(--Gray);
}

.error-message {
  padding: 0px 8px;
  color: var(--Red);
  text-align: left;
  font-size: 12px;
  display: none;
}

.invalid {
  border: 2px solid var(--Red);
}
.invalid::placeholder {
  color: var(--Red);
}

.link-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  width: 327px;
  margin: auto;
  text-align: left;
  font-size: 16px;
}
.url {
  align-self: flex-start;
  width: 100%;
  padding: 10px 16px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  text-overflow: ellipsis;
}
.short-url {
  align-self: flex-start;
  padding: 12px 16px 0px 16px;
  color: var(--Cyan);
  width: 100%;
}
.copy {
  margin: 16px 0;
  width: 293px;
  font-size: 15px;
  height: 38px;
}

.advanced-title {
  padding: 18px 0;
  color: var(--Very_Dark_Blue);
}
.advanced-text {
  line-height: 28px;
  color: gray;
  font-size: 16px;
  padding: 0 16px;
  color: var(--Grayish_Violet);
}

.card-list {
  margin-top: 50px;
  padding-bottom: 1px;
}
.card-list::before {
  margin: auto;
  content: '';
  position: absolute;
  width: 8px;
  height: 100%;
  background-color: var(--Cyan);
  left: 0;
  right: 0;
}
.card {
  position: relative;
  width: 327px;
  background-color: white;
  border-radius: 5px;
  margin: 92px auto;
  padding: 60px 0 40px 0;
}
.card-img-container {
  height: 88px;
  width: 88px;
  background-color: var(--Dark_Violet);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -44px;
  left: 0px;
  right: 0px;
  margin: auto;
}
.card-title {
  font-size: 22px;
  padding: 16px 0;
}
.card-text {
  line-height: 25px;
  font-size: 15px;
  color: darkgray;
  padding: 0px 30px;
}

.boost {
  padding-top: 80px;
  padding-bottom: 90px;
  background-image: url(./images/bg-boost-mobile.svg);
  background-color: var(--Dark_Violet);
  color: white;
}
.boost-title {
  padding: 16px;
}

/* footer */
footer {
  padding: 52px 0;
  background-color: var(--Very_Dark_Violet);
  color: white;
}

.footer-logo {
  margin: 4px;
}
.footer-item {
  padding-top: 20px;
}
.footer-item-title {
  padding: 15px;
  font-size: 16px;
}
.footer-item-list {
  padding: 3px;
}
.footer-item-link {
  color: var(--Gray);
  font-size: 15px;
}

.social-icons {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin: 42px;
}

/* */
.attribution {
  /* position: absolute; */
  bottom: 10px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--Cyan);
}

/* media queries */

@media (min-width: 1024px) {
  .button:hover:after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
  }
}
